.pagination {
  margin-top: $space-double;
  margin-bottom: $space-double;
  @include rwd(medium) {
    margin-top: $space-quadruple;
    margin-bottom: $space-quadruple;
  }
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0;
  &__link {
    color: $input-text;
    text-decoration: none !important;

    use {
      fill: $semi-white;
    }

    &:hover {
      color: $black;

      use {
        fill: $white;
      }
    }
  }

  &__item {
    margin-left: 10px;
    margin-right: 15px;
    @include rwd(tablet) {
      margin-left: 25px;
      margin-right: 25px;
    }

    &--sm-hidden {
      display: none;
      @include rwd(tablet) {
        display: block;
      }
    }

    &.dots {
      color: $black;
    }

    &.nav {
      background-color: $gallery;
      height: 34px;
      width: 34px;

      &:hover {
        background-color: $cta;
      }

      @include rwd(tablet) {
        height: 38px;
        width: 38px;
      }

      &.previous, &.next {
        margin: 0;
      }

      &.first {
        margin-right: 10px;
      }

      &.last {
        margin-left: 10px;
      }

      & .pagination__link {
        height: 34px;
        width: 34px;
        @include rwd(tablet) {
          height: 38px;
          width: 38px;
        }
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;

        span {
          line-height: 0;
        }
      }
    }
  }

  & .is-active {
    color: $black;
    & .pagination {
      &__link {
        color: $black;
      }
    }
  }

  & .active,
  & .current {
    & .pagination {
      &__link {
        color: $black;
      }
    }
  }
}
