$black: #000000;
$mine-shaft: #333333;
$steel: #666666;
$gallery: #F0F0F0;
$white: #FFFFFF;
$semi-white: #d1dbe6;

$cta: #E93350;
$cta-hover-text-link: #B91E37;
$headings: #202124;
$text: #2C3238;
$label-label-text-background: #4F5C65;
$input-text: #8C959B;
$borders: #D1DBE5;
$backgrounds: #F3F6F9;