<header class="header {{ header_template }}">
    <div class="site-navigation">
        <nav class="header-menu top-menu">
            <div class="menu">
                {{ page.top_menu }}
            </div>
        </nav>
        <div class="header-menu main-menu">
            <div class="menu">
                {{ page.header }}
            </div>
        </div>
    </div>
</header>
